apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels: { app: nginx }
spec:
  replicas: {{ .Values.nginx.replicas }}
  selector: { matchLabels: { app: nginx } }
  template:
    metadata: { labels: { app: nginx } }
    spec:
      containers:
      - name: nginx
        image: {{ .Values.nginx.image }}
        ports: [{ containerPort: 80 }]
        volumeMounts:
        - name: cfg
          mountPath: /etc/nginx/conf.d
      volumes:
      - name: cfg
        configMap:
          name: nginx-proxy-config
